.work {
	text-align: center;
}
.work__title {
	font-size: 2rem;
    margin: 1rem auto;
}
.work__project{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__description {
	max-width: 60ch;
	font-size: 0.875rem;
	margin: 1rem auto;
}

.work__project-title {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.work__img-wrapper {
	position: relative;
}
.work__img-wrapper::after {
	content: '';
	background-color:rgba(79, 70, 229,0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:1;
    opacity: 0;
	transition: background-color 0.3s;

}
.img{
    width: 800px;
    min-height: 400px;
    max-height: 600px;

}
.work__img-wrapper:hover::after {
	background-color:rgba(79, 70, 229,0.3);
    
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

}
.work__project {
	padding-bottom: 5rem;
}


.work__project-description1 {
	font-size: 0.875rem;
	margin:1rem 0;
}
.work__project-description2 {
	font-size:0.875rem;
	margin:1rem 0;
}
.work__project-btn {
    margin-top: 10px;
    background-color: #da4ea2;
  color: white;
  font-weight: 600;
  max-width: 150px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  color: lightgray;

	font-size:0.875rem;
    
}

.work__project-btn:hover {
    background-color: #df2293;
}
.work__project-subtitle {
	display: none;
}

.work__container{
    padding-bottom: 50px;
}
/* xs */ 
@media (min-width: 475px) 
{
	.work__title {
		font-size: 1.875rem;
	}

	.work__description {
		font-size: 1rem;
		margin: 1.5rem auto;
	}
	.work__project-title {
		font-size: 1.125rem;
		margin-bottom: 1.5rem;
	}
	.work__project-description1,
	.work__project-description2
	 {
		font-size: 1rem;
		margin:1.5rem 0;
	 }
	 .work__project-btn {
		font-size:1rem;
	}
}

/* sm */ 
@media (min-width: 640px) {
	.work__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items:center;
		grid-template-areas: 
		'image1 content1'
		'content2 image2'
		'image3 content3'
		'content4 image4'
		'image5 content5'
		'content6 image6';
	}

	.work_image1 {
		grid-area: image1;
	}
	.work_image2 {
		grid-area: image2;
	}
	.work_image3 {
		grid-area: image3;
	}
	.work_image4 {
		grid-area: image4;
	}
	.work_image5 {
		grid-area: image5;
	}
	.work_image6 {
		grid-area: image6;
	}

	.work__content1 {
		grid-area: content1;
	}
	.work__content2 {
		grid-area: content2;
	}

	.work__content3 {
		grid-area: content3;
	}

	.work__content4 {
		grid-area: content4;
	}

	.work__content5 {
		grid-area: content5;
	}

	.work__content6 {
		grid-area: content6;
	}



	.work__project {
		padding: 0 1rem;
	}
	.work__project-title {
		display: none;
	}

	.work__project-description1,
	.work__project-description2
	 {
		font-size: 1rem;
		margin:1em 0;
	 }
	 .work__project-btn {
		font-size:1rem;
	}
	.work__project:not(:last-child) {
		margin-bottom: 0;
	}
	.work__project-subtitle {
		display: block;
		font-size: 1rem;
	}
}

/* md */ 
@media (min-width: 768px) {
	.work__project-description1,
	.work__project-description2
	 {
		font-size: 0.875rem;
	 }
	 .work__project-btn {
		font-size:0.875rem;
	}
	.work__project-subtitle {
		font-size: 1.125rem;
	}
}

/* Lg */ 
@media (min-width: 1024px) {
	.work__title {
		font-size: 2.25rem;
	}

	.work__description {
		font-size: 1.125rem;
	}
	.work__project-description1,
	.work__project-description2
	 {
		font-size:1rem;
	 }
	 .work__project-btn {
		font-size:1rem;
	}
	.work__project-subtitle {
		font-size: 1.125rem;
	}
}

/* xL */ 
@media (min-width: 1280px) {
	.work__title {
		font-size: 3rem;
	}
	.work__description {
		font-size: 1.125rem;
		margin: 2rem auto;
	}
	.work__project-description1,
	.work__project-description2
	 {
		font-size: 1.125rem;
	 }
	 .work__project-btn {
		font-size:1.125rem;
	}
	.work__project-subtitle {
		font-size: 1.125rem;
	}
	.work__container {
		width: 90%;
		margin:0 auto;
	}

}

